<head>
  <!-- Meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}" />
  <meta name="keywords" content="">

  <!-- Facebook -->
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{{ site.description }}">

  <!-- Google Analytics -->

  <!-- Favicons -->

  <!-- Stylesheets -->
  <link href="/assets/css/main.css" rel="stylesheet" type="text/css">

  <title>
    {% if page.title == "Home" %}
			{{ site.title }}
		{% elsif page.title %}{{ page.title }} | {{ site.title }}{% else %}{% endif %}
  </title>
</head>
